@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .auth-btn{
    @apply text-xs font-semibold px-4 py-2 rounded-md border border-green-400
  }
  .header-item{
    @apply px-4 sm:px-8 w-full max-w-[1400px] border-b border-faded-grey flex items-center font-medium text-sm
  }
  .sticky-item{
    @apply sticky bg-white p-2.5
  }
  .tag{
    @apply text-xs text-faded-grey bg-gray-950 rounded-md px-2 py-1 block w-fit
  }
  .display-less{
    @apply max-h-64 relative overflow-hidden 
  }
  .calc-wrapper{
    @apply bg-faded-grey shadow-md p-4 flex flex-col gap-3 mb-6
  }
  .type-wrapper{
    @apply block text-center rounded-[5px] text-sm p-1 w-full font-semibold
  }
  .nav-menu li{
    @apply border-b border-medium-grey/50 pb-4 lg:border-b-0 lg:pb-0
  }
  .auth-input{
    @apply border border-faded-grey text-sm rounded-lg p-4 focus:outline-green-500
  }
  .notification{
    @apply w-fit px-8 py-3 rounded ml-auto text-white font-bold text-sm mb-4
  }
  .modal{
    @apply fixed top-0 left-0 h-screen w-full bg-black/20 z-50
  }
  .modal-bg{
    @apply absolute z-50 top-1/2 max-h-[95%] left-1/2 w-[498px] overflow-scroll -translate-x-1/2 p-6 pt-0 -translate-y-1/2 bg-white shadow-md rounded-2xl transition-all
  }
  .modal-overlay{
    @apply top-0 left-0 h-full w-full bg-black/20
  }
  .transaction-btn{
    @apply py-3 border-b hover:border-medium-grey/50 border-faded-grey/0 focus:outline-none
  }
  .transaction-active{
    @apply after:content-[''] after:w-full after:h-[3px] after:bg-green-500 after:absolute after:-bottom-[3px] after:left-0  font-semibold relative 
  }
  .transaction-label{
    @apply rounded-md w-fit px-4 py-2 bg-faded-grey flex items-center gap-2 text-sm font-semibold
  }
  .transaction-input{
    @apply border border-medium-grey/50 rounded-md overflow-hidden
  }
  .submit-button{
    @apply p-4 rounded-md border border-green-500 hover:border-green-500/50 bg-green-500 hover:bg-green-500/80 text-white
  }
  .cancel-button{
    @apply p-4 rounded-md border border-medium-grey/50 hover:border-green-500/50
  }
}
.display-less::before{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 8em;
  background: linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1));
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  color: #222531;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button:disabled{
  pointer-events: none;
}
*::-webkit-scrollbar{
  display: none;
}

tr:hover td{
  background-color: #F8FAFD;
}
.copy-icon{
  visibility: hidden;
}
.contact-address-wrapper:hover .copy-icon{
  visibility: visible;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #58667E;
  background-color: #EFF2F5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;  
  border-radius: 50%;
  border: 2px solid #58667E;
  background-color: #EFF2F5;
  cursor: pointer;
}

input[type="radio"]:checked + label.short-type {
  /* Apply your desired styles for the label when the associated radio button is checked */
  background-color: rgb(239 68 68);
  color: #FFF;
}

input[type="radio"]:checked + label.long-type{
  background-color: rgb(34 197 94);
  color: #FFF;
}

input[type="radio"]:not(:checked) + label.short-type {
  color: rgb(34 197 94);
}

input[type="radio"]:not(:checked) + label.long-type {
  color: rgb(239 68 68);
}